<%- include('./partials/header')%>




    <div class="w-full h-screen flex px-20 ">
        <div class="w-1/2 flex items-center justify-center h-screen">
            <div class="w-full px-32">
                <h3 class="text-4xl ">Welcome to <span class="text-blue-400 font-semiblod">Scatch</span></h3>
                <h4 class="text-2xl mb-5 ">Create your account</h4>

                <form action="/user/register" autocomplete="off" method="post">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200" placeholder="Full Name" type="text">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200" placeholder="Email" type="email">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200" placeholder="Password" type="password">
                    <input class="px-5 rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit" value="Cretae My Account">


                </form>
            </div>
        </div>


        <div class="w-1/2 flex items-center justify-center h-screen">
            <div class="w-full px-32">
                <h4 class="capitalize text-2xl mb-5 ">login your account</h4>
                <form action="/user/login" method="post" autocomplete="off">
                    <input class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md border-zinc-200 mb-3 " placeholder="Email" type="email" >
                    <input class="block bg-zinc-100 w-full px-3 py-2 border-[1px] rounded-md border-zinc-200 mb-3 " placeholder="Password" type="password" >
                    <input class="px-5 block rounded-full py-3 mt-2 bg-blue-500 text-white" type="submit" value="Login">
                </form>
            </div>

        </div>

    </div>
    <%- include('./partials/footer') %>




